$names: arial ;

.figuras {display: flex;
justify-content: space-between;
justify-content: center;
flex-wrap: wrap;
list-style: none;
padding: 1rem;
margin: auto;
position: relative;
width: auto;
margin-left: 1rem;
}

.items{
    width: auto;
    min-width: 18rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 1%;
    border-style: solid;
    border-color: rgb(172, 172, 172);
    border-radius: 2rem;
    background-color: rgb(97, 184, 255);
    padding-top: 3%;

}

ul{
    li{
        img{
            width: 16rem;
            
        }
    }
}
