$names: arial ;

.figuras{display: flex;
justify-content: space-around;
flex-wrap: wrap;
list-style: none;
padding: 1rem;
margin: auto;
position: relative;
}

.items{
    width: 50%;
    max-width: 12rem;
    display: flex;
    justify-content: center;
    margin: 1%;
    border-style: solid;
    border-color: rgb(172, 172, 172);
    border-radius: 2rem;
    background-color: rgb(97, 184, 255);
    padding-top: 3%;
}

ul{
    li{
        img{
            
        }
    }
}
